html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/* Als ich die Seite selbst gebaut hatte, musst ich horizontal scrollen, weil das Foto so groß ist. Dies verhindert das: */

img {
    max-width: 100%;
    height: auto;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.fab {
    background: #fff;
    font-size: 3em;
}

