body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

article {
  display: grid;
  grid-template-columns: minmax(1.2rem, 1fr) minmax(auto, 57ch) minmax(1.2rem,
      1fr);
  margin-top: 1em;
  padding: 0 2em;
}

.article img {
  grid-column: 1/4;
}

/* position text paragraphs into the second (middle) column */

p,
h1,
.meta {
  grid-column: 1 /4;
  max-width: 700px;
}

h1 a {
  color: #000;
}

/* position images to take up all three columns */

.hero-img {
  grid-column: 1 / 3;
  justify-self: center;
  min-width: 500px;
}

.metabox {
  display: flex;
  align-items: baseline;
  background-color: rgb(255, 165, 0);
  justify-content: space-between;
  margin-top: 1em;
}

.metabox a {
  margin-right: 1em;
}

.metabox:hover {
  opacity: 0.8;
}

.fa-github {
  transform: scale(0.7);
}

.site-footer {
  background-color: #000;
  height: 4em;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.site-footer li a {
  top: 1em;
  font-size: 1em;
  color: #ffffff;
}

@media (min-width: 500px) {
  article {
    display: grid;
    margin: 3em auto;
    min-width: 60%;
    max-width: 700px;
  }
}