body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
article {
    display: grid;
    grid-template-columns: minmax(1.2rem, 1fr) minmax(auto, 57ch) minmax(1.2rem, 1fr);
    margin-top: 1em;
    padding: 0 2em;   
    border: 1px solid red;
}


.article img {
    grid-column: 1/4;
   
}

/* position text paragraphs into the second (middle) column */

p,
h1,
.meta {
    grid-column: 1 /4;
    max-width: 700px;
}

h1 a {
    color: #000;
}


/* position images to take up all three columns */

.hero-img {
    grid-column: 1 / 3;
    justify-self: center;
    min-width: 500px;  

}


.metabox {
    position: relative;
   
}
.metabox::after {
    position: absolute;
    content: '';
    height: .1rem;
    width: 50%;
    bottom: .2rem;
    z-index: -1;
    background: #ffa500;
    opacity: .4;;
}
@media(min-width: 500px) {
    article {
        display: grid;
        margin: 3em auto;
        min-width: 60%;
        max-width: 700px;
    }

  
}