:root {
  --nav-bg: #1d2226;
  --nav-clr: #ffa500;
  --nav-li-hvr: #2e363d;
}

header {
  display: flex;
  padding: 0;
  margin-top: 0;

}

/* Display Mobile menu in future release */
@media(max-width: 700px) {
  header {
    background: #fff;
  }

  .header-menu-wide {
    visibility: hidden;
  }

  #menu-btn {
    font-size: 3rem;
    display: block;
  }


}


@media (min-width: 700px) {

  .header-menu-mobile {
    visibility: hidden;
  }

  .header-menu-wide ul {
    display: flex;
    margin-top: 2.6em;
  }

  .header-menu-wide ul li {
    list-style: none;
  }

  .header-menu-wide ul li a {
    color: #fff;
    font-size: 1.5rem;
    padding: 1em;
  }

  .header-menu-wide ul li a:hover {
    color: var(--nav-clr);
  }

  .header-menu-wide ul li a {
    padding-right: 1em;
  }

  /* Footer */
  .footer-menu-wide ul {
    display: flex;
    margin-bottom: 2em;
  }

  .footer-menu-wide ul li {
    list-style: none;
  }

  .footer-menu-wide ul li a {
    color: #fff;
    font-size: 1rem;
    padding: 1em;
  }

  .footer-menu-wide ul li a:hover {
    color: var(--nav-clr);
  }

  .footer-menu-wide ul li a:hover {
    color: var(--nav-clr);
  }

}