:root {
  --nav-bg: #1d2226;
  --nav-clr: #ffa500;
  --nav-li-hvr: #2e363d;
}

header {
  display: flex;
  padding: 0;
  margin-top: 0;
}

.container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  /* added for nav-toggle positioning */
  position: relative;
}

/* Mobile */

/* Display Mobile menu in future release */
@media (max-width: 700px) {
  .header-menu-wide {
    visibility: hidden;
  }

  .nav-toggle {
    cursor: pointer;
    border: 0;
    width: 4em;
    height: 4em;
    padding: 0em;
    border-radius: 50%;
    background: #072a2d;
    color: white;
    transition: opacity 250ms ease;
    top: 2.5em;
    position: absolute;
    right: 1em;
  }

  .nav-toggle:focus,
  .nav-toggle:hover {
    opacity: 0.75;
  }

  /* Hamburger Styling */
  .hamburger {
    width: 50%;
    position: relative;
  }

  .hamburger,
  .hamburger::before,
  .hamburger::after {
    display: block;
    margin: 0 auto;
    height: 3px;
    background: white;
  }

  .hamburger::before,
  .hamburger::after {
    content: "";
    width: 100%;
  }

  .hamburger::before {
    transform: translateY(-6px);
  }

  .hamburger::after {
    transform: translateY(3px);
  }

  .nav {
    visibility: hidden;
    height: 0;
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  nav li {
    list-style: none;
  }

  nav a {
    text-decoration: none;
    color: #fff;
  }

  nav a:hover {
    opacity: 0.7;
  }

  /* Styles der mobile Navigation */
  .nav--visible {
    visibility: visible;
    height: auto;
    position: relative;
    background-color: #ffa500;
  }
}

@media (min-width: 700px) {
  .nav-toggle {
    visibility: hidden;
  }

  .header-menu-wide ul {
    display: flex;
    margin-top: 2.6em;
  }

  .header-menu-wide ul li {
    list-style: none;
  }

  .header-menu-wide ul li a {
    color: #fff;
    font-size: 1.5rem;
    padding: 1em;
  }

  .header-menu-wide ul li a:hover {
    color: var(--nav-clr);
  }

  .header-menu-wide ul li a {
    padding-right: 1em;
  }

  /* Footer */
  .footer-menu-wide ul {
    display: flex;
    margin-bottom: 2em;
  }

  .footer-menu-wide ul li {
    list-style: none;
  }

  .footer-menu-wide ul li a {
    color: #fff;
    font-size: 1rem;
    padding: 1em;
  }

  .footer-menu-wide ul li a:hover {
    color: var(--nav-clr);
  }

  .footer-menu-wide ul li a:hover {
    color: var(--nav-clr);
  }
}
