.article-cat {
   text-decoration: none;
   color: #fff;
   font-weight: bold;
   text-transform: uppercase;
   width: 20%;
   position: relative;
}

.meta-tag-box {
   display: flex;
   flex-direction: row;
   gap: 1em;
}



a.article-tag:hover {
   background: teal;

}

.category-hint {
   background: #000;
   width: 100%;
   color: #fff;
   transform: rotate(-2deg);

}

.nice-tags {
   margin-top: 1.2em;
   display: flex;
   list-style: none;
   margin-left: 0px;
   padding-left: 0px;
   color: #ffa500;
}


.nice-tags li {
   margin-left: 0;
   padding-left: 0;
   font-size: 1.5rem;
   position: relative;

}

.nice-tags li a {
   color: #ffa500;
   margin-left: 1em;
}

.nice-tags li a:hover {
   background-color: #ffa500;
   ;
   color: #fff;
   border-radius: 10px;
}