  h1 {
      margin: 1em 0 0;
      padding: 0;
      font-size: 1.5em;
      position: relative;
  }

  p {
      margin: 0.4em;
      line-height: 1.5em;
      font-size: .9rem;
  }

  .article-btn {
    text-decoration: none;
    font-weight: bold;
    color: #ffa500;
    cursor: pointer;
  }

  
 h1:before {
     position: absolute;
     content: '';
     height: .3em;
     width: 80%;
     bottom: .2em;
     z-index: -1;
     
     background: #ffa500;
 } 



@media(min-width: 500px) {
    h1 {
        font-size: 2em;
    }
    p {
        font-size: 1.2em;
    }
}